* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 95vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.article {
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
    width: 80%;
    border-radius: 20px;
    padding: 32px;
    background-color: #FCF7E3;
    border: 1px solid rgba(220, 144, 73, 0.582);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

left img {
    max-width: 100%;
}

left {
    flex-basis: 45%;
}

right {
    flex-basis: 50%;
}

h2 {
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
    color: #5C1E11;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #5C1E11;
}